numpy
numba
scipy
astropy
gwcs
filelock
galsim
fitsio
asdf
healpy
matplotlib
treecorr
scikit-image
pytz
furry_parakeet @ git+https://github.com/kklaliotis/furry-parakeet@main
fsspec
requests
s3fs
aiohttp
memory_profiler
