numpy
numba
scipy
astropy
gwcs
filelock
galsim
fitsio
asdf
healpy
matplotlib
treecorr
scikit-image
pytz
git+https://github.com/Roman-HLIS-Cosmology-PIT/furry-parakeet.git#egg=furry_parakeet
fsspec
requests
s3fs
aiohttp
